@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  scroll-behavior: smooth;

}

html{
  scroll-behavior: smooth;
  font-family: 'Mukta', sans-serif;
  overflow-x:hidden;
  background-color:#F3EFE0;
  color:#363535;
}

#home{
  width: 100%;
  height:100vh;
}

.bannerimg{
  z-index: -1;
  object-fit: fill;
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  z-index:1;
  transition-timing-function:ease-in ;
  transition: all 0.5s;
  color:rgb(255, 255, 255);
}

.nav_bg{
  background-color:#708B75;
  color:rgb(255, 255, 255);
}

.social_icons{
  display: flex;
}

button {
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 10px 15px;
  border: white 1px solid;
  border-radius: 25px;
  color: #ffffff;
  position: relative;
  font-weight: 500;
  z-index:999;
  font-size: 2rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  width: 15rem;
  text-align: center;
  text-shadow: 3px 3px 4px rgb(0, 0, 0);
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -999;
  border-radius: 15px;
  background-color: #ffffff;
  transition: all 250ms;
  text-shadow: 2px 0px 1px rgba(0,0,0,0.20);
 }
 
 button:hover {
  color: #000000;
  font-weight:500 ;
 }
 
 button:hover::before {
  width: 100%;
 }

 .scrollButton{
  margin-top: 10rem;
  margin-left: 30rem;
 }


.react_icons{
  padding-bottom:5px
}


.banner_content{
  margin-left: 2rem;
  padding-top: 18rem;
  height: 190px;
}

.banner_title{
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 3px 3px 4px rgb(0, 0, 0); 
  color: white;
}

.banner_descript{
  margin-top: -0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0); 
}

.testimonial_imgs{
  border-radius:55%;
  object-fit: contain;
  display: inline-block;
  align-items:center ;
  justify-content: center;
}

.values{
  object-fit: contain;
  border-radius: 55%;
  box-shadow: 10px 2px 5px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 10px 2px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 2px 5px 0px rgba(0,0,0,0.45);
}



